* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Open Sans", sans-serif;
}

/* #codigo .form-selected disabled {
	background-color: #212529;
} */

/* DATATABLE */

.dt-length {
	margin-top: 3px;
}

.dt-search {
	margin-bottom: 8px;
}

/* Estilos para la paginación activa */
.pagination .page-item.active .page-link {
	background-color: #343a40;
	border-color: #343a40;
	color: #ffffff;
}

/* Opcional: Estilos para el hover de la paginación */
.pagination .page-item:hover .page-link {
	background-color: #495057;
	border-color: #495057;
	color: #ffffff;
}

.pagination .page-item .page-link {
	/* background-color: #343A40; */
	/* Color de fondo del botón activo */
	/* border-color: #343A40; */
	/* Color del borde del botón activo */
	color: #495057;
	/* Color del texto del botón activo */
}

.pagination .page-item .page-link:focus {
	background-color: #343a40;
	border-color: #343a40;
	color: #ffffff;
	box-shadow: 0 0 0 0.25rem rgba(108, 117, 125, 0.5);
	/* Sombra para indicar el foco */
}

.buttons-excel,
.buttons-pdf,
.buttons-print {
	background-color: #343a40;
}

.acciones-buttons {
	display: flex;
}

#button-modal-close-footer {
	background-color: #212529;
}

.accordion-dark .accordion-item {
	background-color: #343a40;
	color: #fff;
	border-color: #454d55;
}

.accordion-dark .accordion-button {
	background-color: #343a40;
	color: #fff;
}

.accordion-dark .accordion-button:not(.collapsed) {
	color: #fff;
	background-color: #495057;
}

.accordion-dark .accordion-button::after {
	filter: invert(1);
}

.accordion-button.custom:focus {
	box-shadow: none;
	/* Elimina el borde azul */
	border-color: transparent;
	/* Asegura que el borde no aparezca */
}

/* FIN DATATABLE */
/*  PANEL */

.panel {
	background-color: #212529;
	border-radius: 5px;
	margin-top: 5px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.panel__top {
	color: white;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.panel__top p {
	margin-bottom: 0;
	padding: 2px;
}

.panel-span {
	border-radius: 5px;
	padding: 0px 3px;
	margin: 0 3px;
	background-color: chocolate;
	font-size: 11px;
	font-weight: 500;
	line-height: 2;
}

.panel_disponibles,
.panel_no-disponibles,
.panel_rentados {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2px;
	margin: 10px;
}

.panel_disponibles,
.panel_no-disponibles,
.panel_rentados {
	flex-direction: column;
	background-color: #343a40;
	border-radius: 5px;
	min-width: 110px;
}

.panel-disponible {
	display: flex;
	margin: 2px;
}

.panel-span-1 {
	background-color: green;
	font-size: 14px;
}

.panel-span-2 {
	background-color: red;
	white-space: nowrap;
	font-size: 14px;
}

.panel-span-3 {
	background-color: yellow;
	color: black;
	font-size: 14px;
}

.panel-atv,
.panel-scooter,
.panel-bicycle {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	background-color: #212529;
	border-radius: 5px;
	margin: 2px;
}

/*  FIN DE PANEL */

/* HISTORIAL */

.modal-title {
	display: flex;
	align-items: center;
}

.historial-span {
	background-color: #e9ecef;
	border-radius: 50%;
	color: #212529;
	display: inline-block;
	width: 30px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 2px;
	font-weight: 700;
}

.btn-form-historial-cancelar {
	display: none;
}

.form-historial {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	gap: 6px;
}

.form-historial label {
	padding: 0 4px;
}

.btn-form-historial-box {
	display: flex;
	margin: 6px 0;
}

@media (max-width: 992px) {
	.acciones-buttons {
		flex-direction: column;
	}
}

/* FIN DE HISTORIAL */

.top-app {
	position: sticky;
	top: 0;
	z-index: 1040;
}

.top-app a {
	font-size: 10px;
	text-decoration: none;
	color: white;
	border-radius: 5px;
	border: 1px solid #ffffff;
	padding: 2px 6px;
	transition: 0.2s ease all;
	margin: 0 5px;
}

.top-app a:hover {
	color: grey;
	border: 1px solid grey;
}

.td-span {
	background-color: #e9ecef;
	border-radius: 50%;
	color: #212529;
	display: inline-block;
	width: 25px;
	height: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 2px;
	font-weight: 700;
}

.menu-content {
	display: flex;
	align-items: start;
}

.menu {
	position: sticky;
	top: 58px;
	height: 100%;
}

.busqueda {
	position: relative;
}

.busqueda .fa-magnifying-glass {
	position: absolute;
	top: 12px;
	left: 7px;
}

.cerrar-busqueda {
	position: absolute;
	top: 9px;
	right: 10px;
	cursor: pointer;
	display: none;
	padding: 2px 4px;
	transition: 0.3s ease all;
	border-radius: 50%;
}

.cerrar-busqueda:hover {
	background-color: #e9ecef;
	padding: 2px 4px;
}

.card-body {
	background-color: #343a40;
}

.card-body label {
	color: #ffffff;
	font-weight: 300;
}

.card-body ::placeholder {
	color: #343a40;
}

.bars__menu {
	width: 30px;
	height: 30px;
	cursor: pointer;
	margin: 8px;
	display: none;
	min-width: 30px;
}

.bars__menu span {
	display: block;
	width: 100%;
	height: 2px;
	background: white;
	margin-top: 6px;
	transform-origin: 0px 100%;
	transition: all 200ms;
}

.activeline1__bars-menu {
	transform: rotate(45deg) translate(-2px, 1px);
}

.activeline2__bars-menu {
	opacity: 0;
	margin-left: -30px;
}

.activeline3__bars-menu {
	transform: rotate(-45deg) translate(-4px, 2px);
}

.btn-box-comment:hover::before {
	content: "Editar";
	color: black;
	font-size: 13px;
	padding-top: 1px;
	background-color: white;
	position: absolute;
	right: 16px;
	top: -30px;
	height: 30px;
	width: 50px;
	border: 5px solid transparent;
	border-radius: 5px;
	box-shadow: 1px 0px 3px 1px rgba(0, 0, 0, 0.6);
	-webkit-box-shadow: 1px 0px 3px 1px rgba(0, 0, 0, 0.6);
}

.btn-box-danger:hover::before {
	content: "Borrar";
	color: black;
	font-size: 13px;
	padding-top: 1px;
	background-color: white;
	position: absolute;
	right: 16px;
	top: -30px;
	height: 30px;
	width: 50px;
	border: 5px solid transparent;
	border-radius: 5px;
	box-shadow: 1px 0px 2px 1px rgba(0, 0, 0, 0.6);
	-webkit-box-shadow: 1px 0px 2px 1px rgba(0, 0, 0, 0.6);
}

.btn-box-danger:hover::after {
	content: "";
	background-color: white;
	position: absolute;
	right: 30px;
	top: -7px;
	height: 0;
	width: 0;
	border: 10px solid transparent;
	border-bottom-width: 0px;
	border-right-width: 0px;
	border-top-color: white;
	transform: translatex(50%) rotate(315deg);
	border-radius: 1px;
}

.btn-box-comment:hover::after {
	content: "";
	background-color: white;
	position: absolute;
	right: 30px;
	top: -7px;
	height: 0;
	width: 0;
	border: 10px solid transparent;
	border-bottom-width: 0px;
	border-right-width: 0px;
	border-top-color: white;
	transform: translatex(50%) rotate(315deg);
	border-radius: 1px;
}

.btn-box-tool {
	display: block;
	border: none;
	background-color: transparent;
	color: white;
}

.btn-box-tool:hover::before {
	content: "Historial";
	color: black;
	font-size: 13px;
	padding-top: 1px;
	background-color: white;
	position: absolute;
	left: 15px;
	top: -20px;
	height: 30px;
	width: 65px;
	border: 5px solid transparent;
	border-radius: 5px;
	box-shadow: 1px 0px 3px 1px rgba(0, 0, 0, 0.6);
	-webkit-box-shadow: 1px 0px 3px 1px rgba(0, 0, 0, 0.6);
}

.btn-box-tool:hover::after {
	content: "";
	background-color: white;
	position: absolute;
	left: 20px;
	top: 4px;
	height: 0;
	width: 0;
	border: 10px solid transparent;
	border-bottom-width: 0px;
	border-right-width: 0px;
	border-top-color: white;
	transform: translatex(50%) rotate(315deg);
	border-radius: 1px;
}

input:disabled {
	background-color: #cccccc;
	color: #999999;
	cursor: not-allowed;
}

@media (max-width: 992px) {
	.bars__menu {
		display: block;
	}

	.menu {
		position: fixed;
		top: 100;
		left: -1000px;
		z-index: 1;
		transition: all 300ms;
	}

	.td-celdas {
		padding: 1px !important;
	}

	.td-color .td-display i {
		font-size: 18px;
	}

	.td-color {
		padding: 0px !important;
	}

	.td-span {
		font-size: 18px;
		width: 35px;
		height: 35px;
	}
}

@media (max-width: 575px) {
	.btn-content {
		flex-direction: column;
	}

	.panel {
		flex-direction: column;
	}

	.panel__top__top {
		flex-direction: column;
		display: flex;
	}

	.panel__top__top button {
		margin: 4px;
		width: 100%;
		padding: 20px 80px;
	}

	.panel__top__top i {
		margin: 0 4px;
	}
}
